@font-face {
  font-family: Geist Fallback;
  src: local('Arial');
  ascent-override: 95.94%;
  descent-override: 28.16%;
  line-gap-override: 0%;
  size-adjust: 104.76%;
}
@font-face {
  font-family: Geist Mono Fallback;
  src: local('Arial');
  ascent-override: 74.67%;
  descent-override: 21.92%;
  line-gap-override: 0%;
  size-adjust: 134.59%;
}
@font-face {
  font-family: Geist;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/8d697b304b401681-s.woff2) format('woff2');
  unicode-range: u+0301, u+0400-045f, u+0490-0491, u+04b0-04b1, u+2116;
}
@font-face {
  font-family: Geist;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/ba015fad6dcf6784-s.woff2) format('woff2');
  unicode-range: u+0100-02ba, u+02bd-02c5, u+02c7-02cc, u+02ce-02d7, u+02dd-02ff, u+0304, u+0308,
    u+0329, u+1d00-1dbf, u+1e00-1e9f, u+1ef2-1eff, u+2020, u+20a0-20ab, u+20ad-20c0, u+2113,
    u+2c60-2c7f, u+a720-a7ff;
}
@font-face {
  font-family: Geist;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/569ce4b8f30dc480-s.p.woff2) format('woff2');
  unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da, u+02dc, u+0304, u+0308,
    u+0329, u+2000-206f, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215, u+feff, u+fffd;
}
@font-face {
  font-family: Geist Fallback;
  src: local('Arial');
  ascent-override: 95.94%;
  descent-override: 28.16%;
  line-gap-override: 0;
  size-adjust: 104.76%;
}
.__className_5cfdac {
  font-family: Geist, Geist Fallback;
  font-style: normal;
}
.__variable_5cfdac {
  --font-geist-sans: 'Geist', 'Geist Fallback';
}
@font-face {
  font-family: Geist Mono;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/9610d9e46709d722-s.woff2) format('woff2');
  unicode-range: u+0301, u+0400-045f, u+0490-0491, u+04b0-04b1, u+2116;
}
@font-face {
  font-family: Geist Mono;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/747892c23ea88013-s.woff2) format('woff2');
  unicode-range: u+0100-02ba, u+02bd-02c5, u+02c7-02cc, u+02ce-02d7, u+02dd-02ff, u+0304, u+0308,
    u+0329, u+1d00-1dbf, u+1e00-1e9f, u+1ef2-1eff, u+2020, u+20a0-20ab, u+20ad-20c0, u+2113,
    u+2c60-2c7f, u+a720-a7ff;
}
@font-face {
  font-family: Geist Mono;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/93f479601ee12b01-s.p.woff2) format('woff2');
  unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da, u+02dc, u+0304, u+0308,
    u+0329, u+2000-206f, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215, u+feff, u+fffd;
}
@font-face {
  font-family: Geist Mono Fallback;
  src: local('Arial');
  ascent-override: 74.67%;
  descent-override: 21.92%;
  line-gap-override: 0;
  size-adjust: 134.59%;
}
.__className_9a8899 {
  font-family: Geist Mono, Geist Mono Fallback;
  font-style: normal;
}
.__variable_9a8899 {
  --font-geist-mono: 'Geist Mono', 'Geist Mono Fallback';
}
.wwb {
  word-wrap: break-word;
}
.clear {
  clear: both;
}
.clearN {
  clear: none;
}
.clearfix:after {
  content: ' ';
  display: block;
  clear: both;
  width: 100%;
}
.clearbefore {
  clear: both;
}
.clearbefore:before {
  content: ' ';
  display: block;
  clear: both;
  width: 100%;
}
body,
body * {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
a,
a:active,
a:focus {
  text-decoration: none;
}
a:active,
a:focus {
  outline: 0;
}
* {
  font-size: 16px;
}
body,
body * {
  font-family: Noto Sans, sans-serif;
}
html {
  height: 100%;
}
body {
  font-family: Arial, sans-serif;
  color: #000;
  background: #fff;
  word-wrap: break-word;
  font-size: 15px;
  line-height: 21px;
  background: #121212;
  color: #ffbf1e;
}
body a {
  display: block;
  text-decoration: none;
  color: #000;
}
li {
  list-style: none;
}
.window-lock {
  overflow-y: hidden;
}
.card .imgwrap {
  position: relative;
}
.card .imgwrap .photo {
  width: 20;
  height: 20;
  margin: -10px 0 0 -10px;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 100;
}
.spriticon {
  background: url(https://d3pc1xvrcw35tl.cloudfront.net/assets/images/dm-video-tiles/sprite-image-v0.0.png)
    no-repeat;
}
.iconcity {
  background-position: -30px -1px;
  width: 22px;
  height: 22px;
  display: block;
}
.iconback {
  background-position: -56px -1px;
  width: 12px;
  height: 12px;
  display: block;
  margin-right: 8px;
}
.videos-head {
  display: flex;
  margin: 0 15px 15px;
}
.videos-head .head-title {
  color: #ffbf1e;
  margin-right: 20px;
  font-size: 20px;
}
.read-all {
  color: #ffbf1e;
  display: flex;
  position: relative;
  opacity: 0.7;
  font-size: 12px;
  cursor: pointer;
}
.read-all:after {
  display: block;
  content: '';
  clear: both;
  width: 5px;
  height: 5px;
  position: absolute;
  border-top: 1px solid #ffbf1e;
  border-right: 1px solid #ffbf1e;
  transform: rotate(45deg);
  right: -10px;
  top: 8px;
}
.imgwrap {
  line-height: 0;
  position: relative;
}
.imgwrap img {
  width: 100%;
  height: auto;
}
.card .imgwrap img,
.grid-container img {
  height: inherit;
  object-fit: cover;
}
.play-triangle:before {
  display: block;
  content: '';
  clear: both;
  border-top: 9px solid transparent;
  border-left: 11px solid #000;
  border-bottom: 9px solid transparent;
}
.arrow-icon {
  width: 20px;
  height: 20px;
  background: #ffc107;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.arrow-icon:before {
  margin-left: 6px;
  margin-top: 3px;
  border-top-width: 7px;
  border-left-width: 11px;
  border-bottom-width: 7px;
}
.player-header {
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  top: 86px;
  left: 0;
  right: 0;
  background: #141414;
  z-index: 90;
}
.player-header .player-back {
  display: block;
  width: 20px;
  height: 20px;
  border-top: 3px solid #ffbf1e;
  border-left: 3px solid #ffbf1e;
  rotate: -40deg;
}
.expand-header .player-header {
  display: flex;
  align-items: center;
  background: linear-gradient(
    179deg,
    #141414,
    rgba(20, 20, 20, 0.8),
    rgba(20, 20, 20, 0.5),
    rgba(20, 20, 20, 0)
  );
}
.expand-header .player-header .player-back {
  width: 10px;
  height: 10px;
  border-width: 2px;
}
.expand-header .player-header .expand-title {
  border-left: 1px solid;
  margin-left: 15px;
  padding-left: 15px;
  font-size: 20px;
  font-weight: 700;
}
.lg:after {
  display: block;
  content: '';
  clear: both;
  background: linear-gradient(0, #141414, rgba(20, 20, 20, 0.1) 30%),
    linear-gradient(1turn, #141414, rgba(20, 20, 20, 0.1) 10%);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
@media screen and (min-width: 768px) {
  .lg:after {
    background: linear-gradient(90deg, #141414, rgba(20, 20, 20, 0.1) 30%),
      linear-gradient(1turn, #141414, rgba(20, 20, 20, 0.1) 10%);
  }
  .arrow-icon {
    width: 30px;
    height: 30px;
    background: transparent;
    border: 2px solid;
  }
  .arrow-icon:before {
    margin-left: 8px;
    margin-bottom: 2px;
    margin-top: 3px;
    border-top-width: 11px;
    border-left-width: 12px;
    border-bottom-width: 11px;
    border-left-color: #ffbf1e;
  }
  .videos-head {
    margin: 0 50px 15px;
  }
  .player-header {
    top: 126px;
  }
}
.player-related-header {
  margin: 20px 10px 15px;
  font-size: 20px;
}
.main-container {
  overflow: hidden;
}
.videos-widget {
  margin-bottom: 10px;
  padding-left: 10px;
}
.videos-widget .card {
  padding-left: 10px;
  background: transparent;
}
.videos-widget .card:first-of-type {
  padding-left: 0;
}
.newwindow,
.video-wrapper {
  overflow: hidden;
}
.lkm-widget {
  position: relative;
  padding: 10px 0;
}
.lkm-widget:first-of-type {
  z-index: 22;
}
.lkm-widget:nth-of-type(2) {
  z-index: 21;
}
.lkm-widget:nth-of-type(3) {
  z-index: 20;
}
.lkm-widget:nth-of-type(4) {
  z-index: 19;
}
.lkm-widget:nth-of-type(5) {
  z-index: 18;
}
.lkm-widget:nth-of-type(6) {
  z-index: 17;
}
.lkm-widget:nth-of-type(7) {
  z-index: 16;
}
.lkm-widget:nth-of-type(8) {
  z-index: 15;
}
.lkm-widget:nth-of-type(9) {
  z-index: 14;
}
.lkm-widget:nth-of-type(10) {
  z-index: 13;
}
.lkm-widget:nth-of-type(11) {
  z-index: 12;
}
.lkm-widget:nth-of-type(12) {
  z-index: 11;
}
.lkm-widget:nth-of-type(13) {
  z-index: 10;
}
.lkm-widget:nth-of-type(14) {
  z-index: 9;
}
.lkm-widget:nth-of-type(15) {
  z-index: 8;
}
.lkm-widget:nth-of-type(16) {
  z-index: 7;
}
.lkm-widget:nth-of-type(17) {
  z-index: 6;
}
.lkm-widget:nth-of-type(18) {
  z-index: 5;
}
.lkm-widget:nth-of-type(19) {
  z-index: 4;
}
.lkm-widget:nth-of-type(20) {
  z-index: 3;
}
.lkm-widget:nth-of-type(21) {
  z-index: 2;
}
.lkm-widget:nth-of-type(22) {
  z-index: 1;
}
.lkm-widget:nth-of-type(23) {
  z-index: 0;
}
.custom-active {
  border: 6px solid;
  border-radius: 10px;
}
#headerwrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;
}
#headerwrapper .headstrip {
  background: url(https://d3pc1xvrcw35tl.cloudfront.net/assets/images/dm-video-tiles/headerbg_mobile-v0.0.jpg)
    no-repeat;
  background-size: 100% auto;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px 0 5px;
}
#headerwrapper .headstrip .headerleft {
  display: flex;
  align-self: flex-end;
}
#headerwrapper .headstrip .headerleft .brandlogo {
  width: 123px;
  height: 39px;
  margin-left: 5px;
}
#headerwrapper .headstrip .headerleft .brandlogo .logoimage {
  width: 100%;
}
#headerwrapper .navwrapper {
  background: #141414;
  -webkit-box-shadow: 0 2px 8px 1px #000;
  -moz-box-shadow: 0 2px 8px 1px #000;
  box-shadow: 0 2px 8px 1px #000;
}
#headerwrapper .navwrapper .navList {
  color: #ffbf1e;
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
  padding: 0 10px;
}
#headerwrapper .navwrapper .navList li {
  vertical-align: middle;
}
#headerwrapper .navwrapper .navList li.navitem {
  display: table-cell;
  font-size: 18px;
  font-family: Times New Roman, Times, serif;
}
#headerwrapper .navwrapper .navList li.navitem a {
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  white-space: nowrap;
  padding: 8px 10px 7px;
  font-family: inherit;
}
#headerwrapper .navwrapper .navList li.navitem.iconhome a i {
  background-position: -1px -30px;
  width: 20px;
  height: 16px;
  display: block;
}
#headerwrapper .drawerwrapper {
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 100;
  width: 100%;
  height: calc(100vh - 50px);
  background: #141414;
  overflow: hidden;
  display: none;
}
#headerwrapper .drawerwrapper .drawertop {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  margin-top: 10px;
}
#headerwrapper .drawerwrapper .navList {
  color: #ffbf1e;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
#headerwrapper .drawerwrapper .navList li.navitem {
  display: block;
  font-size: 18px;
  padding: 0 20px;
  background: linear-gradient(180deg, #000, #141414 10%);
}
#headerwrapper .drawerwrapper .navList li.navitem a {
  color: inherit;
  font-size: inherit;
  padding: 8px 10px 7px;
  line-height: 24px;
  font-family: Times New Roman, Times, serif;
}
#headerwrapper .drawerwrapper .navList li.navitem.iconhome {
  display: none;
}
.citywrapper {
  position: relative;
  display: inline-block;
}
.citywrapper .btnselectcity {
  background: #fff;
  display: flex;
  padding: 3px 5px 3px 30px;
  position: relative;
  z-index: 99;
  font-weight: 700;
  color: #000;
  cursor: pointer;
  font-family: Times New Roman, Times, serif;
}
.citywrapper .btnselectcity,
.citywrapper .btnselectcity .iconcity {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}
.citywrapper .btnselectcity .iconcity {
  margin-left: 7px;
  border: 1px solid #ccc;
}
.citywrapper .btnselectcity .iconcity.up {
  rotate: 180deg;
}
body {
  padding-top: 86px;
}
.backtolokmat {
  background: #fff;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  padding: 5px 8px;
  display: flex;
  align-items: center;
  font-family: Times New Roman, Times, serif;
}
.backtolokmat span {
  font-weight: 700;
  font-family: inherit;
}
.backtolokmat span span {
  color: #ed1b25;
}
.cityWrap {
  width: 278px;
  background: #fff;
  position: absolute;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  right: 0;
  top: 14px;
  display: none;
  z-index: 98;
}
.cityWrap .cityList {
  padding: 10px 0;
}
.cityWrap .cityList .cityItem {
  padding: 5px 10px;
  font-family: Times New Roman, Times, serif;
}
.cityWrap .cityList .cityItem a {
  font-family: inherit;
}
.btnheadMenu {
  width: 30px;
  height: 30px;
  padding: 5px;
  position: relative;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.btnheadMenu,
.btnheadMenu span {
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  transform: rotate(0);
}
.btnheadMenu span {
  display: block;
  position: absolute;
  height: 3px;
  width: calc(100% - 10px);
  background: #fff;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  opacity: 1;
  left: 5px;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.btnheadMenu span:first-child {
  top: 6px;
}
.btnheadMenu span:first-child,
.btnheadMenu span:nth-child(2) {
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
.btnheadMenu span:nth-child(2) {
  top: 12px;
}
.btnheadMenu span:nth-child(3) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
.btnheadMenu.open span:first-child {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 5px;
  left: 7px;
}
.btnheadMenu.open span:nth-child(2) {
  width: 0;
  opacity: 0;
}
.btnheadMenu.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 19px;
  left: 7px;
}
@media screen and (min-width: 768px) {
  .btnheadMenu {
    display: none;
  }
  #headerwrapper .headstrip {
    background: url(https://d3pc1xvrcw35tl.cloudfront.net/assets/images/dm-video-tiles/headerbg_desktop-v0.0.jpg)
      no-repeat;
    height: 90px;
    background-size: 100% 100%;
    padding: 0 40px;
  }
  #headerwrapper .headstrip .headerleft .brandlogo {
    width: 209px;
    height: 66px;
  }
  #headerright .citywrapper {
    display: none;
  }
  .navwrapper {
    display: flex;
    align-items: center;
    padding: 0 40px;
  }
  .navwrapper .citywrapper {
    flex-shrink: 0;
  }
  #headerwrapper .navwrapper .navList {
    padding: 0;
  }
  body {
    padding-top: 126px;
  }
  .lkm-widget:last-child {
    padding-bottom: 120px;
  }
}
@media screen and (max-width: 768px) {
  .headerright .backtolokmat {
    display: none;
  }
}
@media (max-width: 768px) {
  .navwrapper .citywrapper {
    display: none;
  }
}
.lead-video-container .video-container {
  position: relative;
}
.lead-video-container .video-container .iframe-container {
  width: 100%;
  height: calc(100vw / 9 * 8);
  margin-bottom: 64px;
}
.lead-video-container .video-container iframe {
  width: 100%;
  height: 100%;
  display: block;
}
.lead-video-container .lkm-widget {
  padding-bottom: 0;
}
.video-details-container {
  margin: 15px 20px;
  position: absolute;
  bottom: -74px;
}
.video-details-container .video-title {
  color: #ffbf1e;
  font-size: 18px;
}
.video-details-container .play-button {
  display: inline-block;
  background: #ffbf1e;
  width: 91px;
  height: 32px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  font-weight: 700;
  opacity: 0.8;
  margin-top: 20px;
}
.video-details-container .play-button:before {
  margin: 0 9px 0 11px;
}
@media screen and (min-width: 768px) {
  .lead-video-container .video-container {
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
  }
  .lead-video-container .video-container .video-details-container {
    width: 50%;
    bottom: auto;
    left: 0;
    margin: 40px 0 20px 60px;
  }
  .lead-video-container .video-container .play-button {
    margin-top: 40px;
  }
  .lead-video-container .video-container .iframe-container {
    width: calc(((100vw - 20px) / 100) * 60);
    height: calc((((100vw - 20px) / 100) * 60) / 16 * 9);
    margin-bottom: 0;
  }
  .video-details-container .video-title {
    font-size: 32px;
    line-height: 42px;
  }
}
.card-wraper .upvideo {
  border: 4px solid rgba(75, 75, 75, 0.4);
}
.card-wraper.active .upvideo {
  border: 4px solid;
}
.videos-widget.home.first .card-wraper:first-of-type {
  margin-left: 0;
}
.videos-widget.home.first .card-wraper {
  margin-left: 30px;
  padding-left: 0;
}
.videos-widget.home.first .card .card-image {
  width: 176px;
  height: calc(176px / 16 * 9);
}
@media (min-width: 768px) {
  .card-category-desktop.home.first .card-wraper {
    width: auto;
  }
  .videos-widget.home.first .card .card-image {
    width: 234px;
    height: calc(234px / 16 * 9);
    margin: auto;
  }
  .videos-widget.home.first {
    overflow-x: scroll;
  }
  .videos-widget.home::-webkit-scrollbar {
    width: 0;
  }
}
.dots {
  text-align: center;
  margin-top: 10px;
}
.dot {
  position: absolute;
  top: 6px;
  right: 74px;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 5px;
  border-radius: 50%;
  background-color: #ffbf1e;
  cursor: pointer;
  opacity: 0.7;
}
.dot:hover {
  opacity: 1;
}
.dot[onclick='jumpToGroup(1)'] {
  right: 54px;
}
.dot.active {
  width: 14px;
  height: 14px;
  background-color: #ffbf1e;
}
.controls {
  margin-top: 15px;
  text-align: center;
}
.controls button {
  height: 33px;
  background-color: #ccc;
  width: 33px;
  cursor: pointer;
  border-radius: 50%;
  border: 0;
  position: absolute;
  top: 50%;
  left: 25px;
}
.controls button[onclick='nextSlide()'] {
  right: 25px;
  left: auto;
}
.controls button[onclick='nextSlide()']:after,
.controls button[onclick='prevSlide()']:after {
  content: '';
  margin-top: 1px;
  margin-left: 10px;
  display: block;
  width: 12px;
  height: 12px;
  border-top: 4px solid #000;
  border-left: 4px solid #000;
  rotate: -40deg;
}
.controls button[onclick='nextSlide()']:after {
  margin-left: 5px;
  rotate: 140deg;
}
.now-showing {
  text-align: center;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 700;
}
@media (max-width: 768px) {
  .controls,
  .dots {
    display: none;
  }
}
.owl-carousel,
.owl-carousel .owl-item {
  -webkit-tap-highlight-color: transparent;
  position: relative;
}
.owl-carousel {
  display: none;
  width: 100%;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
}
.owl-carousel .owl-stage:after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translateZ(0);
}
.owl-carousel .owl-item,
.owl-carousel .owl-wrapper {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
}
.owl-carousel .owl-item {
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}
.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
  display: none;
}
.no-js .owl-carousel,
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
  background: 0;
  color: inherit;
  border: 0;
  padding: 0 !important;
  font: inherit;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}
.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}
.owl-carousel .animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  animation-name: fadeOut;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.owl-height {
  transition: height 0.5s ease-in-out;
}
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 0.4s ease;
}
.owl-carousel .owl-item .owl-lazy:not([src]),
.owl-carousel .owl-item .owl-lazy[src^=''] {
  max-height: 0;
}
.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d;
}
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 0.1s ease;
}
.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
.owl-carousel .owl-video-playing .owl-video-play-icon,
.owl-carousel .owl-video-playing .owl-video-tn {
  display: none;
}
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 0.4s ease;
}
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}
.owl-theme .owl-dots,
.owl-theme .owl-nav {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-nav {
  margin-top: 10px;
}
.owl-theme .owl-nav [class*='owl-'] {
  color: #fff;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #d6d6d6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}
.owl-theme .owl-nav [class*='owl-']:hover {
  background: #869791;
  color: #fff;
  text-decoration: none;
}
.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}
.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
}
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #d6d6d6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 0.2s ease;
  border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #869791;
}
.owl-carousel .owl-stage-outer {
  overflow: visible;
}
.owl-theme .owl-dots {
  display: inline-block;
  position: absolute;
  top: -40px;
  right: 50px;
}
.owl-theme .owl-dots .owl-dot span {
  background: #ffbf1e;
  opacity: 0.7;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #ffbf1e;
}
.owl-theme .owl-dots .owl-dot.active span {
  width: 12px;
  height: 12px;
}
.owl-theme .owl-dots .owl-dot span:hover,
.owl-theme .owl-dots .owl-dot.active span:hover {
  opacity: 1;
}
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
  width: 35px;
  height: 35px;
  background: #ccc;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.owl-carousel .owl-nav button.owl-next span,
.owl-carousel .owl-nav button.owl-prev span {
  font-size: 45px;
  color: #000;
}
.owl-carousel .owl-nav button.owl-prev {
  left: 0;
}
.owl-carousel .owl-nav button.owl-next {
  right: 0;
}
.list-view {
  margin: 15px auto;
}
.upvideo.card {
  padding: 0;
  height: auto;
}
.card {
  background: #222;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  display: flex;
  padding: 10px;
  gap: 10px;
  margin: 10px auto;
  cursor: pointer;
}
.card,
.card .card-image {
  overflow: hidden;
  position: relative;
}
.card .card-image {
  width: calc(((100vw - 20px) / 100) * 40);
  height: calc((((100vw - 20px) / 100) * 40) / 16 * 9);
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.card .card-image:after {
  display: block;
  content: '';
  clear: both;
  position: absolute;
  width: 70%;
  height: 100%;
  top: 0;
  right: -5px;
  background-image: linear-gradient(90deg, rgba(255, 0, 0, 0), rgba(34, 34, 34, 0.5), #222);
}
.card .card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card .card-content .card-date {
  font-size: 12px;
  font-weight: 700;
  opacity: 0.7;
}
.card .card-content .card-title {
  font-size: 14px;
  line-height: 20px;
  height: 56px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 40px;
}
.card .card-content .arrow-icon {
  margin-left: auto;
}
.card .card-content .card-footer {
  font-size: 12px;
  font-weight: 700;
  color: #ffc107;
  display: flex;
  align-items: center;
  gap: 4px;
  opacity: 0.7;
}
.card-category,
.card-source {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
}
.card-category-desktop .card .arrow-icon span {
  display: none;
}
@media (min-width: 768px) {
  .card .card-content {
    justify-content: flex-start;
  }
  .card .card-content .card-title {
    font-size: 20px;
    line-height: 28px;
    height: 56px;
    margin: 10px 0;
  }
  .card .card-content .arrow-icon {
    position: absolute;
    right: 12px;
    bottom: 10px;
  }
  .card-category-desktop:not(.home) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: -50px;
  }
  .card-category-desktop:not(.home) .card {
    width: 275px;
    flex-direction: column;
    padding: 0;
    background: #141414;
    box-shadow: 1px -1px 13px -2px #000;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin: 10px 15px;
  }
  .card-category-desktop:not(.home) .card .card-image {
    width: 100%;
    height: calc(275px / 16 * 9);
  }
  .card-category-desktop:not(.home) .card .card-image img {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
  }
  .card-category-desktop:not(.home) .card .card-image:after {
    width: 100%;
    height: 35%;
    right: 0;
    bottom: 0;
    top: auto;
    background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0) 14%,
      rgba(20, 20, 20, 0.5) 40%,
      #141414 90%,
      #141414
    );
  }
  .card-category-desktop:not(.home) .card .card-content {
    position: relative;
    padding: 0 15px 15px;
  }
  .card-category-desktop:not(.home) .card .card-content .arrow-icon {
    position: absolute;
    top: -34px;
    left: 10px;
    right: auto;
    display: flex;
  }
  .card-category-desktop:not(.home) .card .card-content .arrow-icon span {
    display: inline-block;
    font-weight: 400;
    margin-left: 15px;
    margin-top: 4px;
    font-size: 12px;
  }
  .card-category-desktop:not(.home) .card .card-content .card-title {
    height: 58px;
    overflow: hidden;
    font-size: 13px;
    line-height: 19px;
    margin: 2px 0;
  }
  .card-category-desktop:not(.home) .card .card-content .card-date {
    margin: 15px 0 10px;
  }
  .card-category-desktop:not(.home) .card .card-content .card-category,
  .card-category-desktop:not(.home) .card .card-content .card-source {
    display: none;
  }
}
.video-detail-container {
  background: #222;
  margin-top: 40px;
}
.video-detail-container .iframe-container {
  height: calc(100vw / 16 * 9);
}
.video-detail-container .iframe-container iframe {
  width: 100%;
  height: 100%;
}
.video-detail-container .card {
  margin-top: 0;
  margin-bottom: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 4px;
}
.video-detail-container .info-desc-wrapper {
  margin: 10px 5px 5px;
  padding: 15px 0 5px;
  border-top: 1px solid rgba(255, 191, 30, 0.3);
  font-size: 13px;
}
.video-detail-container .info-desc-wrapper .info-desc {
  font-size: inherit;
  height: 44px;
  overflow: hidden;
  position: relative;
}
.video-detail-container .info-desc-wrapper .info-desc:after {
  content: '';
  display: block;
  width: 100%;
  top: 28px;
  height: 10px;
  position: absolute;
  background-image: linear-gradient(180deg, rgba(255, 0, 0, 0), #222);
}
.video-detail-container .info-desc-wrapper .info-desc.active {
  height: auto;
}
.video-detail-container .info-desc-wrapper .info-desc.active:after {
  content: none;
}
.video-detail-container .info-desc-wrapper .dm__more-btn {
  text-align: center;
  margin: 4px 0;
}
.video-detail-container .arrow-icon {
  display: none;
}
@media (min-width: 992px) {
  .detail-wrapper {
    max-width: 950px;
    margin: auto;
  }
  .video-detail-container .iframe-container {
    max-height: calc(950px / 16 * 9);
  }
  .card .card-image {
    width: calc(((950px - 20px) / 100) * 40);
    height: calc((((950px - 20px) / 100) * 40) / 16 * 9);
  }
}
.detail-wrapper .card .card-content .arrow-icon span {
  display: none;
}
.videos-widget.home {
  display: flex;
  align-items: flex-start;
}
.videos-widget.home .card-wraper {
  margin-left: 10px;
}
.videos-widget.home .card-wraper:first-of-type {
  margin-left: 0;
}
.videos-widget.home .card {
  padding: 0;
  overflow: initial;
}
.videos-widget.home .card .card-image {
  width: 200px;
  height: calc(200px / 16 * 9);
}
.card-category-desktop.home .card .card-content {
  display: none;
}
.home .card .card-image:after {
  content: none;
}
@media (max-width: 768px) {
  .home {
    overflow-x: auto;
  }
}
@media (min-width: 768px) {
  .card-category-desktop.home {
    padding-left: 50px;
  }
  .card-category-desktop.home .card-wraper {
    position: relative;
    width: 250px;
    flex-shrink: 0;
  }
  .card-category-desktop.home .card-wraper .card-image {
    width: 250px;
    height: calc(250px / 16 * 9);
  }
  .card-category-desktop.home:not(.first) .card:hover {
    width: 275px;
    flex-direction: column;
    padding: 0;
    background: #141414;
    box-shadow: 1px -1px 13px -2px #000;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    position: absolute;
    z-index: 99999999;
    margin: 0;
    left: -12px;
  }
  .card-category-desktop.home:not(.first) .card:hover .card-image {
    width: 100%;
    height: calc(275px / 16 * 9);
  }
  .card-category-desktop.home:not(.first) .card:hover .card-image img {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
  }
  .card-category-desktop.home:not(.first) .card:hover .card-image:after {
    display: block;
    content: '';
    clear: both;
    width: 100%;
    height: 35%;
    right: 0;
    bottom: 0;
    top: auto;
    background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0) 14%,
      rgba(20, 20, 20, 0.5) 40%,
      #141414 90%,
      #141414
    );
  }
  .card-category-desktop.home:not(.first) .card:hover .card-content {
    position: relative;
    padding: 0 15px 15px;
    display: flex;
  }
  .card-category-desktop.home:not(.first) .card:hover .card-content .arrow-icon {
    position: absolute;
    top: -34px;
    left: 10px;
    right: auto;
    display: flex;
  }
  .card-category-desktop.home:not(.first) .card:hover .card-content .arrow-icon span {
    display: inline-block;
    font-weight: 400;
    margin-left: 15px;
    margin-top: 4px;
    font-size: 12px;
  }
  .card-category-desktop.home:not(.first) .card:hover .card-content .card-title {
    height: 56px;
    overflow: hidden;
    font-size: 13px;
    line-height: 19px;
    margin: 2px 0;
    font-weight: 700;
  }
  .card-category-desktop.home:not(.first) .card:hover .card-content .card-date {
    margin: 15px 0 10px;
  }
  .card-category-desktop.home:not(.first) .card:hover .card-content .card-category,
  .card-category-desktop.home:not(.first) .card:hover .card-content .card-source {
    display: none;
  }
}
.grid-view.multiple {
  display: flex;
  padding-left: 10px;
}
.grid-view.multiple figure .grid-container {
  position: relative;
  margin: 20px 40px 10px 0;
  width: 190px;
  cursor: pointer;
}
.grid-view.multiple figure .grid-container .imgwrap {
  height: calc(200px * 9 / 16);
  border: 2px solid #ffbf1e;
  box-sizing: unset;
}
.grid-view.multiple figure .grid-container .imgwrap:after {
  display: block;
  content: '';
  clear: both;
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(2, 2, 2, 0),
    rgba(2, 2, 2, 0.5),
    rgba(2, 2, 2, 0.8),
    rgba(2, 2, 2, 0.9),
    #020202
  );
}
.grid-view.multiple figure .grid-container .imgwrap iframe {
  width: 100%;
  height: 100%;
}
.grid-view.multiple figure .grid-container:after,
.grid-view.multiple figure .grid-container:before {
  display: block;
  content: '';
  clear: both;
  width: 100%;
  height: 100%;
  position: absolute;
  border: 2px solid #ffbf1e;
}
.grid-view.multiple figure .grid-container:before {
  top: -12px;
  right: -15px;
  z-index: -2;
}
.grid-view.multiple figure .grid-container:after {
  top: -6px;
  right: -8px;
  z-index: -1;
  background: #121212;
}
.grid-view.multiple figure figcaption {
  padding: 0 5px 5px 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
.grid-view.multiple figure figcaption h2 {
  color: #fff;
}
.grid-view.multiple figure figcaption h2 .video-title {
  color: #fff;
  display: block;
}
.grid-view.multiple figure figcaption h2 .read-all:after {
  bottom: 8px;
  top: auto;
  right: 10px;
  width: 10px;
  height: 10px;
  border-width: 3px;
}
.no-videos {
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .grid-view.multiple {
    padding-left: 50px;
  }
  .grid-view.multiple figure .grid-container {
    width: 240px;
  }
  .grid-view.multiple figure .grid-container .imgwrap {
    height: calc(245px * 9 / 16);
  }
  .video-duration {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: #000000cc;
    color: #fff;
    padding: 2px 6px;
    font-size: 12px;
    border-radius: 3px;
  }
  .video-date {
    font-size: 12px;
    color: #bbb;
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 768px) {
  .grid-view.multiple {
    overflow-x: scroll;
  }
}
.channelpro .card-wraper {
  width: 160px;
  height: 160px;
  background: rgba(75, 75, 75, 0.4);
  cursor: pointer;
  border-radius: 8px;
  overflow: hidden;
  flex-shrink: 0;
  padding-left: 0;
}
.channelpro .card-wraper .cover .card-image:after {
  display: block;
  content: '';
  width: 100%;
  position: absolute;
  height: 45%;
  bottom: 0;
  background-image: linear-gradient(178deg, rgba(0, 0, 0, 0), rgba(2, 2, 2, 0.8) 100%);
}
.channelpro .cover {
  position: relative;
}
.dm-channel-info-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
}
.dm-channel-avatar {
  width: 45px;
  height: 45px;
  margin: 10px auto;
  border-radius: 8px;
}
.dm-channel-title {
  color: #fff;
  font-weight: 700;
  font-size: 13px;
  text-align: center;
}
@media (min-width: 768px) {
  .channelpro .card-category-desktop.home .card-wraper {
    height: 250px;
  }
  .dm-channel-info-wrapper {
    height: 130px;
  }
  .dm-channel-avatar {
    width: 60px;
    height: 60px;
  }
  .channelpro .card-category-desktop.home .card-wraper .card-image {
    width: 250px;
    height: 250px;
  }
}
.swiper-button-next-custom,
.swiper-button-prev-custom {
  position: absolute;
  top: 50%;
  z-index: 10;
  background: #ccc;
  color: #d0d0d0;
  font-size: 0;
  border: 0;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
  transform: translateY(-50%);
}
.swiper-button-prev-custom {
  left: 12px;
}
.swiper-button-next-custom {
  right: 8px;
}
main {
  overflow: hidden;
}
.swiper-button-next-custom:after,
.swiper-button-prev-custom:after {
  font-size: 0;
  content: '';
  margin-top: 0;
  margin-left: 13px;
  display: block;
  width: 12px;
  height: 12px;
  border-top: 4px solid #000;
  border-left: 4px solid #000;
  rotate: -40deg;
}
.swiper-button-next-custom:after {
  margin-left: 5px;
  rotate: 140deg;
}
.spinner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(70, 67, 67, 0.075);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.spinner {
  width: 30px;
  height: 30px;
  border: 3px solid #d7c327;
  border-top-color: #333;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
.dm__info-tags {
  margin-top: 15px;
  font-size: 12px;
}
.dm__info-tags span {
  font-size: inherit;
  font-weight: 600;
  opacity: 0.6;
}
.video-detail-container .info-desc-wrapper .info-desc div {
  font-size: 12px;
  opacity: 0.9;
}

.skeleton-box {
  width: 305px;
  /* width: 275px; */
  height: 307px;
  border-radius: 8px;
  /* background: linear-gradient(90deg, #1d1919 25%, #211818 50%, #1f1616 75%); */
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.1), transparent);
  background-size: 200% 100%;
  animation: shimmer 1.6s infinite linear;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

/* Mobile responsive */
@media (max-width: 768px) {
  .skeleton-box {
    width: 100%;
    height: 111px;
  }
}

.card {
  color: inherit;
}
